{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-login">
        <h1>Account info</h1>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.statementDescription) }}

                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}